h1,h2,nav{
font-family: "Dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
}
h2{
color: rgb(127, 71, 227);
}
h1,nav{
color:white;
}
p{
font-family: "neue-kabel", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
color: white;
}
header{
background-color: rgb(127, 71, 227);
}
hr{
color:white;
}
nav{
color:white;
text-decoration: none;
text-align: center;
}
nav:hover{
font-weight: 700;
color:orange;
}
header img{
max-width: 5rem;
}
header{
display: flex;
}
body{
background-image: url(images/portfolio-images/background.svg);
background-size: cover;
}
h2{
text-align: center;
font-size: 3rem;
}
p{
font-size: 1.5rem;
}
h3{
font-family: "neue kabel";
font-weight:500;
color:white;
font-size: .75rem;
text-align: center;
}
.desktop img{
max-width: 26rem;
margin-top:2rem;
margin-left: 2rem;
}
.mobile img{
min-width: 26rem;
margin-top: 2rem;
margin-left: 1rem;
margin-right: 1rem;
}
.portfolio img{
max-width: 28rem;
margin-top: 2rem;
margin-left: 1rem;
}
.fall img{
margin-top: 1rem;
min-width:28rem;
margin-left: .5rem;
margin-right: .5rem;
}
.ticket img{
min-width:60rem;
margin-left: -15rem;
margin-right: -15rem;
}